.booksBox{
  width: 100%;
  margin: 30px;
  display: flex;
  position: relative;
  overflow: auto;
  flex-wrap: wrap;
}
.card{
  margin: 25px;
  width: 280px;
  height: 500px;
}
.card-body{
  height: 300px;
}
.card-footer{
  padding-top: 10px;
  height: 180px;
  text-align: center;
}
